target/
target/agent
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
reports/
### IntelliJ IDEA ###
.idea
.idea/.gitignore
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/encodings.xml
.idea/misc.xml
.idea/vcs.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Custom ##
logs
debug
target

### Eclipse ###

bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
/.idea/

