<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.carina.demo.db.mappers.AlbumMapper">

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO carina.ALBUMS (USER_ID, TITLE)
            VALUES (
                #{userId},
                #{title}
            )
        ]]>
    </insert>

    <sql id="getAlbum">
        <![CDATA[
            SELECT
                A.ID AS ALBUM_ID,
                A.USER_ID AS ALBUM_USER_ID,
                A.TITLE AS ALBUM_TITLE
            FROM
                carina.ALBUMS A
        ]]>
    </sql>

    <select id="findById" resultMap="AlbumResultMap">
        <include refid="getAlbum"/>
        <![CDATA[
            WHERE A.ID = #{id};
        ]]>
    </select>

    <select id="findByAlbumTitle" resultMap="AlbumResultMap">
        <include refid="getAlbum"/>
        <![CDATA[
            WHERE A.TITLE = #{title};
        ]]>
    </select>

    <update id="update">
        <![CDATA[
            UPDATE
                carina.ALBUMS
        ]]>
        <set>
            <if test="null != title">
                <![CDATA[
                   TITLE = #{title},
                ]]>
            </if>
        </set>
        <![CDATA[
            WHERE
                ID = #{id}
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE FROM carina.ALBUMS
            WHERE ID = #{id}
        ]]>
    </delete>

    <resultMap type="com.solvd.carina.demo.db.models.Album"
               id="AlbumResultMap" autoMapping="false">
        <id column="ALBUM_ID" property="id"/>
        <result column="ALBUM_USER_ID" property="userId"/>
        <result column="ALBUM_TITLE" property="title"/>
    </resultMap>

</mapper>
